<!DOCTYPE html>
<html lang="en">
<head>
    <title>DiPro Rex</title>
    <link href="/css/InvalidPages.css" rel="stylesheet" type="text/css">
    <link href="/css/header.css" rel="stylesheet" type="text/css">
    <link href="/css/footer.css" rel="stylesheet" type="text/css">
</head>
<body>
    <%- include('../partials/header.ejs') %> 
    <main>
        <h2>Credenciales invalidas: No se reconoce el usuario ingresado</h1>
        <img src="../assets/NoAccess.jpg" />
        <a href="/registro"> ¿Deseas registrarte?</a>
    </main>
    <%- include('../partials/footer.ejs') %> 
</body>
</html>