<!DOCTYPE html>
<html lang="en">
<head>
    <title>DiPro Rex</title>
    <link href="/css/InvalidPages.css" rel="stylesheet" type="text/css">
    <link href="/css/header.css" rel="stylesheet" type="text/css">
    <link href="/css/footer.css" rel="stylesheet" type="text/css">
</head>
<body>
    <%- include('../partials/header.ejs') %> 
    <main>
        <h2>Credenciales invalidas: Contraseña incorrecta</h1>
        <a href="/inicio-sesion"> ¿Reintentar?</a>
    </main>
    <%- include('../partials/footer.ejs') %> 
</body>
</html>