<!DOCTYPE html>
<html lang="en">
<head>
    <title>DiPro Rex</title>
    <link href="/css/InvalidPages.css" rel="stylesheet" type="text/css">
    <link href="/css/header.css" rel="stylesheet" type="text/css">
    <link href="/css/footer.css" rel="stylesheet" type="text/css">
</head>
<body>
    <%- include('../partials/header.ejs') %> 
    <main>

        <h2>El nombre de usuario elegido ya existe, prueba con otro... </h1>
        <img src="../assets/Repetido.jpg" />
        <a href="/registro"> Probar de nuevo</a>
    </main>
    <%- include('../partials/footer.ejs') %> 
</body>
</html>